/** POPPINS */

/** poppins-thin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/font/poppins/Poppins-ExtraLight.otf');
}

/** poppins-extra-light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../assets/font/poppins/Poppins-ExtraLight.otf');
}

/** poppins-light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/font/poppins/Poppins-Light.otf');
}

/** poppins-regular */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/font/poppins/Poppins-Regular.otf');
}

/** poppins-medium */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/font/poppins/Poppins-Medium.otf');
}

/** poppins-bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/font/poppins/Poppins-Bold.otf');
}

/** poppins-black */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/font/poppins/Poppins-Black.otf');
}

/** ------------------ */
/** FRONTAGE */
@font-face {
  font-family: 'Frontage';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/font/frontage/Frontage-Regular.otf');
}
@font-face {
  font-family: 'Frontage';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/font/frontage/Frontage-Bold.otf');
}

/** ------------------ */
/** RALEWAY */

/** raleway-thin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/font/raleway/Raleway-ExtraLight.ttf');
}

/** raleway-extra-light */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../assets/font/raleway/Raleway-ExtraLight.ttf');
}

/** raleway-light */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/font/raleway/Raleway-Light.ttf');
}

/** raleway-regular */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/font/raleway/Raleway-Regular.ttf');
}

/** raleway-medium */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/font/raleway/Raleway-Medium.ttf');
}

/** raleway-semi-bold */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/font/raleway/Raleway-SemiBold.ttf');
}

/** raleway-bold */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/font/raleway/Raleway-Bold.ttf');
}

/** raleway-extra-bold */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/font/raleway/Raleway-Bold.ttf');
}

/** raleway-black */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/font/raleway/Raleway-Black.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: disc;
}

ul li {
  margin-left: 10px;
}

.colorsPicker {
  @apply border-none shadow-none grid grid-cols-7 justify-items-center !important;
}

.colorsPicker > span > div {
  @apply mr-3 mb-3 w-10 h-10 rounded-md !important;
}

.colorsPicker > span > div > span > div {
  @apply border-2 rounded-md w-10 h-10 !important;
}